services:
  api:
    image: stumpisuter/catchmentapi-api:latest
    build: ./src
    ports:
      - 8000:8000
    command: uvicorn main:app --host 0.0.0.0 --reload
    volumes:
      - ./src/api:/usr/src/app
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    depends_on:
      - redis
    labels:
      # Enable Traefik for this specific "backend" service
      - traefik.enable=true
      # Define the port inside of the Docker service to use
      - traefik.http.services.app.loadbalancer.server.port=8000
      # Use the traefik-public network (declared below)
      - traefik.docker.network=traefik-public
      - traefik.http.routers.app-http.middlewares=https-redirect
    networks:
      # Use the public network created to be shared between Traefik and
      # any other service that needs to be publicly available with HTTPS
      - traefik-public

  view:
    build: ./src/frontend
    ports:
      - 8080:5173
    command: npm run start -- --host
    volumes:
      - ./src/frontend:/app
      - /app/node_modules

  worker:
    image: stumpisuter/catchmentapi-worker:latest
    build: ./src/api
    command: celery -A calculations.calculations.app worker --loglevel=info --logfile=./logs/celery.log
    volumes:
      - ./src/api:/usr/src/app
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    depends_on:
      - api
      - redis
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 16g
    networks:
      # Use the public network created to be shared between Traefik and
      # any other service that needs to be publicly available with HTTPS
      - traefik-public


  redis:
    image: redis:7
    networks:
      # Use the public network created to be shared between Traefik and
      # any other service that needs to be publicly available with HTTPS
      - traefik-public


  dashboard:
    build: ./src/api
    command: celery --broker=redis://redis:6379/0 flower --port=5555
    ports:
      - 5556:5555
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    depends_on:
      - api
      - redis
      - worker
    networks:
      - traefik-public

networks:
  traefik-public:
    external: true
